.DateHeader {
  background: #fff;
  color: #000;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 64px;
  border-bottom: solid 1px rgba(0,0,0,.2);

  flex-grow: 0;
  flex-shrink: 0;
}

.DateHeaderTitle {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
  font-size: 38px;
  font-weight: 200;
}

.Link {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1;
  font-size: 40px;
  color: inherit;
}
