.headerLink {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 1;
  font-size: 40px;
  color: inherit;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}
